body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
    background-color: #f7fafc;
}
.search-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
h1 {
    color: #4a5568;
    margin-bottom: 10px;
}
p {
    color: #4a5568;
    margin-bottom: 20px;
    font-size: 16px;
}
.search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
input[type="search"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #cbd5e0;
    border-radius: 5px 0 0 5px;
    outline: none;
}
input[type="search"]:focus {
    border-color: #4299e1;
}
.search-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4299e1;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-button:hover {
    background-color: #3182ce;
}

.status-container {
    margin-top: 20px;
    margin-bottom: 10px;
}
.status {
    display: inline-block;
    padding: 8px 15px;
    background-color: #48bb78;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.vaccine-info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.vaccine-info th, .vaccine-info td {
    border: 1px solid #e2e8f0;
    padding: 10px;
    text-align: left;
}
.vaccine-info th {
    background-color: #edf2f7;
    font-weight: bold;
}
.vaccine-info tr:nth-child(even) {
    background-color: #f7fafc;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input,
.form-group select {
    padding: 8px;
    font-size: 16px;
}
.success-text h1 {
    color: #4CAF50;
}
.success-animation {
    margin: 2rem 0;
}
.success-animation svg {
    animation: checkmark 0.8s ease-in-out forwards;
}
@keyframes checkmark {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
